<div>
  <h2 class="text-center text-secondary"><i class="bi bi-droplet-fill text-info"></i> Sistema de Facturación de Acueductos Veredales</h2>
  <div class="card">
    <div class="card-header">
      Aqua <i class="bi bi-universal-access"></i> Ver. 1.0.6
    </div>
    <div class="card-body">
      <h5 class="card-title">Contactos</h5>
      <p class="card-text">Javier Ruiz Quintero - <i class="bi bi-telephone"></i> 311 356 0590</p>
    </div>
    <div class="card-footer text-muted text-center">
      Licencia de Uso: [ Acueducto Veredal de Puerres]<br>
      <i class="bi bi-lightning-fill"></i> Desarrollado por: [ Kairos.net ]
    </div>
  </div>
</div>